<div class="footer">
    <p class="text-white"><i class="fa-solid fa-copyright"></i><span class="names">Ajith R</span> , 2023 ! All RIghts Reserved</p>
    <p class="text-white"> All content and materials on this website, including but not limited to text, images, graphics, logos, videos, code, are the intellectual property of <span class="names">Ajith R</span> and protected by international copyright laws. No part of this
        website may be reproduced, distributed, or transmitted in any form or by any means, without the prior written permission of <span class="names">Ajith R</span>. unauthorized use or reproduction of any content from this website is strictly prohibited
        and may resultin legal action. FOr inquiries regarding the use or licensing of any materil on this website, please contact <span class="names">ajith98ra@gmail.com</span> . <i class="fa-solid fa-copyright"></i>
        <span class="names">Ajith R</span> 2023 All Rights Reserved</p>
</div>