<!-- <div class="containerfluid">

    <app-header (sidenavToggle)="isNavVisible($event)"></app-header><br>

    <main>
        <div class=" d-flex">

            <app-sidenav *ngIf="isShown" class="sidenav"></app-sidenav>
            <div class="col">
                <router-outlet></router-outlet>
            </div>



        </div>


    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div> -->

<app-header (sidenavToggle)="isNavVisible($event)"></app-header>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav *ngIf="isShown" #sidenav mode="side" opened="true" class="sidenav">
        <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="container-fluid ">

        <router-outlet></router-outlet>
        <button id="scrollToTopButton" class="btn " *ngIf="showButton" (click)="scrollToTop()">
            <i class="fa-solid fa-arrow-up"></i>
          </button>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>