.sidenav {
    width: 200px;
}

.sidenav a {
    color: black;
}

.sidenav a:hover {
    color: white;
    background-color: #3F51B5;
}

.sidenav i {
    color: #3F51B5;
}

.sidenav i:hover {
    color: white;
}